@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "teko";
  }

  main > * {
    margin-bottom: 4rem;
  }

  section > * {
    margin-bottom: 1.75 rem;
  }
}
